* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  transition: ease-in-out 0.5s background;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}
